{% include 'subjects/admin.html'  with title="Misc"  no=number %}
{% load static %}

<script src="{% static 'subjects/js/misc.js' %}" differ></script>


<div class="container mt-2">
    
    <p>Add Question</p>
    <div class="row">

      {% if messages %}
      
      {% for i in messages %}
      {% if i.tags == 'info' %}
      <div class="text-success mt-2" role="alert">
       *{{i}}

    </div>

  
       {% endif %}
       
     {% if i.tags == 'error' %}
     
    
     <div class="text-danger mt-2" role="alert">
         *{{i}}
  
      </div>
     {% endif %}
      {% endfor %}

      {% endif %}

    
        <div class="col-sm-6">
            <form action="" method="post">
                {% csrf_token %}
            <textarea name="question" id="quest" cols="30" rows="10" class="form-control" value={{question}}>{{question}}</textarea>
        </div>

        <div class="col-sm-6">
            <input type="text" placeholder="Option 1" class="form-control mt-2" name='q1' value={{q1}}>
            <input type="text" placeholder="Option 2" class="form-control mt-2" name='q2' value={{q2}}>
            <input type="text" placeholder="Option 3" class="form-control mt-2" name='q3' value={{q3}}>
            <input type="text" placeholder="Option 4" class="form-control mt-2" name='q4' value={{q4}}>

            <input type="submit" value="Add Question" class='btn btn-primary mt-3'>
        </div>
       </form>

    </div>
</div>


<div class="container mt-3">

    {% if number == 0 %}
    

   <div class="container text-center mt-3">
    <img src="{% static 'subjects/img/a.svg' %}" alt="" class="img-fluid">
    <h3 class="mt-3">
        No Questions Are There !!!!
    </h3>
   </div>

    {% else %}


    <input type="text" name="myinput" id="myInput" class="form-control mt-2" placeholder="Search Question" onkeyup='myFunction()'>


    {% if messages %}
    

    {% for k in messages %}
    
    {% if k.tags == success %}
    
    <div class="mt-2 text-success">

        {{k}}

    </div>
    
    {% endif %}
    {% endfor %}
    
    {% endif %}

    <table class="table table-dark mt-2" id='myTable' style="overflow-x: scroll;">
        <thead>
          <tr>
           
            <th scope="col">Question</th>
            <th scope="col">Opt 1</th>
            <th scope="col">Opt 2</th>
            <th scope="col">Opt 3</th>
            <th scope="col">Opt 4</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>


            {% for i in data %}
            
            <tr>
                <th scope="row">{{i.question}}</th>
                <td>{{i.op1}}</td>
                <td>{{i.op2}}</td>
                <td>{{i.op3}}</td>
                <td>{{i.op4}}</td>
                <td> <a href="delete/{{i.slug}}" class="text-danger mx-2"> <i class="fa-solid fa-trash"></i> Delete</a> <a href="edit/{{i.slug}}" class="text-info mx-2"> <i class="fas fa-pen"></i> Edit</a></td>
                
              </tr>
            {% endfor %}
        
       
        </tbody>
      </table>

    {% endif %}

</div>